.customHr {
  width: 100%;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  line-height: 1px;

  background-color: grey;
  margin-top: -4px;
  /* margin-bottom: 5px; */
}

.right {
  position: relative;
  float: right;
}
