<div class="footer">
    <div class="footer-top">
        <div class="customHr">&nbsp;</div>
    </div>
    <div class="footer-body">
      <span (click)="this.router.navigateByUrl('/privacy')">Privacy</span> |
      <span (click)="this.router.navigateByUrl('/disclaimer')">About</span> |
      <span (click)="this.router.navigateByUrl('/contact')">Contact</span> |
      <p class="small-xs text-muted text-center">© 2018 - patricknoll.de</p>
    </div>
    <div class="footer-bottom">
    </div>
  <div></div>
