<div class="layout">
  <div class="layout-item">
      <app-alert></app-alert>
      <app-header></app-header>
  </div>
  <div class="layout-item">
      <app-menu></app-menu>
  </div>
  <div class="layout-item">
      <router-outlet>
      </router-outlet>
  </div>
  <div class="layout-item">
      <app-footer></app-footer>
  </div>
</div>

<app-modal id="custom-modal-1">
</app-modal>

<!-- <app-modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</app-modal>

<app-modal id="custom-modal-2"></app-modal> -->

<!--
  LogIn Example
  http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial
-->

<!--
  Custom Dialog
  http://jasonwatmore.com/post/2017/01/24/angular-2-custom-modal-window-dialog-box
-->
